<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beauty School - Courses</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>
<body>
<div th:replace="header :: header"></div>
<section>
    <div class="ms-3 mt-3">
        <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}" class="link coral">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Courses</li>
            </ol>
        </div>
    </div>
</section>
<section>
    <div class="container text-center mt-5 mb-5 p-1">
        <div class="row row-cols-4">
            <div class="col p-1 mt-2">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/photography_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Photography for beginners</h5>
                </a>
                </div>
                <div class="row"><p>Ilina De Veen</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </p>
                </div>
                <div class="row"><p>Duis a ligula dignissim, efficitur velit vel, dapibus urna. Ut sit amet aliquam
                    dolor, eget aliquam leo.</p></div>
            </div>
            <div class="col p-1 mt-2">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/contouring_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Perfect face contouring</h5>
                </a>
                </div>
                <div class="row"><p>Lilibeth Jonsson</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </p>
                </div>
                <div class="row"><p>Quisque sodales, turpis finibus dapibus venenatis, dui nisl fermentum sapien, in
                    ultrices ipsum mi ac augue. Nunc viverra aliquet risus finibus pulvinar.</p></div>
            </div>
            <div class="col p-1 mt-2">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/nail_ext_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Gel nail extensions</h5></a>
                </div>
                <div class="row"><p>Eligia Zima</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </p>
                </div>
                <div class="row"><p>Proin bibendum congue eros eu dignissim. Mauris vulputate vel justo sit amet
                    volutpat. </p></div>
            </div>
            <div class="col p-1 mt-2">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/cosmetology_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Basic issues in
                    cosmetology</h5></a>
                </div>
                <div class="row"><p>Ester Aston</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </p>
                </div>
                <div class="row"><p>Sed turpis purus, interdum eget gravida a, accumsan eget turpis. Etiam ac bibendum
                    quam.</p></div>
            </div>
            <div class="col p-1 mt-2">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/cosmetology_adv_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Advanced issues in
                    cosmetology</h5></a>
                </div>
                <div class="row"><p>Ester Aston</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </p>
                </div>
                <div class="row"><p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    curae; Pellentesque ac ex sed felis venenatis tempus. Fusce a accumsan nisi, at viverra enim.</p>
                </div>
            </div>
            <div class="col p-1 mt-2">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/face_massage_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Face massage</h5></a>
                </div>
                <div class="row"><p>Andréa Brams</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </p>
                </div>
                <div class="row"><p>Donec ut mattis nulla. Sed tempor nunc velit. </p></div>
            </div>
            <div class="col p-1 mt-2">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/color_matching_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Skin color matching
                    course</h5></a>
                </div>
                <div class="row"><p>Petru Akers</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </p>
                </div>
                <div class="row"><p>Nam faucibus leo placerat erat porta, in luctus ex pretium. Nam placerat
                    sollicitudin ligula sed laoreet. </p></div>
            </div>
            <div class="col p-1 mt-2">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/breathing_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">The effect of breathing on the
                    appearance of the body</h5></a>
                </div>
                <div class="row"><p>Yeva Perrault</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </p>
                </div>
                <div class="row"><p>Aliquam elementum lectus arcu, dictum elementum orci ornare eget. Cras neque ante,
                    vehicula eget turpis in, pulvinar malesuada dui.</p></div>
            </div>
            <div class="col p-1 mt-2">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/hair_dye_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">How best to mix hair dye</h5>
                </a>
                </div>
                <div class="row"><p>Nikol Sigurdsson</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </p>
                </div>
                <div class="row"><p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Sed efficitur auctor risus nec posuere.</p></div>
            </div>
            <div class="col p-1 mt-2 ">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/hairdressing_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Hairdressing course</h5></a>
                </div>
                <div class="row"><p>Annika Sýkora</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </p>
                </div>
                <div class="row"><p>Etiam in massa non tortor euismod ultricies eu non odio. Aliquam vel blandit
                    nisi.</p></div>
            </div>
            <div class="col p-1 mt-2 d-block">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/henna_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Henna hair for advanced</h5>
                </a>
                </div>
                <div class="row"><p>Yvan Van Kann</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </p>
                </div>
                <div class="row"><p>Nunc imperdiet arcu id urna pulvinar porta. Nullam et justo odio.</p></div>
            </div>
            <div class="col p-1 mt-2 ">
                <div class="row fill-c">
                    <img class="course-img" src="/assets/images/rolling_course.jpg" alt="">
                </div>
                <div class="row mt-2"><a href="#" class="link text-dark"><h5 class="bold">Face rolling - basics</h5></a>
                </div>
                <div class="row"><p>Dorota Żukowska</p></div>
                <div class="row">
                    <p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </p>
                </div>
                <div class="row"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu eros et dui
                    molestie porta.</p></div>
            </div>
        </div>
        <div class="row">
            <p><a href="#" class="coral link">Load more courses...</a></p>
        </div>
        <div class="row p-5">

        </div>
    </div>
</section>
<div th:replace="footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>