<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<header>
    <div class="container mt-5 pt-1">
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <a th:href="@{/home}" class="navbar-brand">Beauty School</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active':''}"
                               th:href="@{/home}" class="nav-link" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active':''}"
                               th:href="@{/about}" class="nav-link">About us</a>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="isAnonymous()">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/courses' ? 'active':''}"
                               class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:classappend="${#httpServletRequest.getRequestURI() == '/courses' ? 'active':''}"
                                       th:href="@{/courses}" class="dropdown-item">All courses</a></li>
                                <li>
                                    <a th:href="@{/events/all}" class="dropdown-item">Events</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a th:classappend="${#httpServletRequest.getRequestURI() == '/contact' ? 'active':''}"
                                       th:href="@{/contact}" class="dropdown-item">Create your course</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/contact' ? 'active':''}"
                               th:href="@{/contact}" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"
                               th:href="@{/login}" class="nav-link">Log in</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active':''}"
                               th:href="@{/dashboard}" class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'active':''}"
                               th:href="@{/logout}" class="nav-link">Logout</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>

</body>
</html>